html,
body {
    height: 100%;
}

.jumbotron {
    padding: 1%;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 500px;
}

.footer {
    padding-right: 1.5%;
    padding-bottom: 1%;
    width: 100%;
    color: red;
    text-align: right;
    opacity: 0.5;
}