<!DOCTYPE html>
<html>

    <head>
        <title>Incident Report Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename = "serverCSS.css") }}">

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6C7cZM_BmEySiVB5l_-4ahYp1VtQ5ciE"></script>
        <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.5.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="{{ url_for('static', filename = "getFromPubnub.js") }}"></script>
        <script src="{{ url_for('static', filename = "map.js") }}"></script>
    </head>

    <body>
        <div id="map"></div>
        <hr>
        <div class="container-fluid">
            <h1>Last Incident detected at</h1>
            <p id="location">Location Unknown</p>
            <p id="weather" style="display: none"></p>

            <div class="jumbotron" style="padding: 0.6%">
                <div class="row">
                    <div style="margin: 0.5%; margin-left: 1.2%;">
                        <img src="{{ url_for('static', filename = "images/apple.png") }}" width=" 40" height="40">
                        <span id="apple-counter" class="text">0</span>
                    </div>
                    <div style="margin: 0.5%">
                        <img src="{{ url_for('static', filename = "images/android.png") }}" width="40" height="40">
                        <span id="android-counter" class="text">0</span>
                    </div>
                    <div style="margin: 0.5%">
                        <img src="{{ url_for('static', filename = "images/windows.png") }}" width="40" height="40">
                        <span id="windows-counter" class="text">0</span>
                    </div>
                    <div style="margin: 0.5%">
                        <img src="{{ url_for('static', filename = "images/question.png") }}" width="40" height="40">
                        <span id="other-counter" class="text">0</span>
                    </div>
                    <div style="margin: 0.5%;">
                        <button id="check-weather" class="btn btn-info" onclick="toggleWeather();">Display
                            weather info</button>
                    </div>
                    <div style="margin: 0.5%">
                        <button onclick="eraseAllMarkers();" class="btn btn-info">Clear
                            all markers</button>
                    </div>
                    <div style="margin: 0.5%;">
                        <button id="push-data" class="btn btn-info" onclick="pushData();">Push
                            the data</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>Powered by Heroku, Pubnub and Google Map API</p>
        </div>
    </body>

    <script>
        var weatherFlag = false;

        function toggleWeather() {
            var weatherText = document.getElementById("weather");
            var weatherButton = document.getElementById("check-weather");

            if (weatherFlag == true) {
                weatherText.style.display = "block";
                weatherButton.innerHTML = "Hide weather info"
                weatherFlag = false;
            } else {
                weatherText.style.display = "none";
                weatherButton.innerHTML = "Display weather info"
                weatherFlag = true;
            }
        }
    </script>

    <script>
        function pushData() {
            var postcode = m.postcode;
            var weather = m.weather.weather[0].description;
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('pushData') }}", true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send("postcode=" + postcode + "&weather=" + weather);
            console.log("Pushed data")
        }
    </script>

</html>